/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');



// fonts

$font-family-monospace: "Source Code Pro";

/*-- scss:rules --*/

code.sourceCode {
  font-size: 1.3em;
}